.main {
  width: min(90%, 40rem);
  margin-inline: auto;
  margin-block: 3rem;
  padding-inline: 1rem;
}

@media (max-width: 768px) {
  .main {
    width: 95%;
    margin: 2rem auto;
  }
}

@media (max-width: 480px) {
  .main {
    width: 100%;
    padding: 0 1rem;
    margin: 1.5rem auto;
  }
}